命令帮助：

帮助 -- 帮助信息
房间 -- 直播间信息
签到 -- 当前直播间签到
签到榜 -- 当天签到榜单
星座 [星座名] -- 该星座当日运势
天气 [城市名] -- 该城市当日天气

🎵 点歌相关
点歌 [歌名] -- 添加歌曲到排队歌单
歌单 -- 查询排队歌单
完成 -- 删除排队歌单第一首歌曲

🎭 pia戏相关
贴本 [本号] -- 获取戏本，开启pia戏模式
s -- 下一条文本（防屏蔽版）
n -- 下一条文本
n [数字] -- 多条文本
r [数字] -- 定位到指定的位置
结束 -- 结束pia戏模式

🕹️ 游戏相关
数字炸弹 -- 创建数字炸弹游戏房间
击鼓传花 -- 创建击鼓传花游戏房间
你说我猜 -- 创建你说我猜游戏房间

加入 -- 加入当前创建的游戏
开始 -- 开始当前选定的游戏
停止 -- 结束当前进行的游戏
玩家 -- 查看当前房间中的玩家
排行 -- 查看当前房间游戏战绩排行

Version: 1.0
Author: Secriy
Contact: me@secriy.com