🏠 房间名：{{.Name}}
😛 主播：{{.Creator}}
💕 粉丝数：{{.Followers}}
📣 直播平台：{{.Platform}}
🙌 当前在线：{{.Online}}
✨ 累计人数：{{.Accumulation}}
🏃‍️人流量：{{.Count}}
🚩 管理员：
{{- range $value := .Admins}}
💫 - {{$value -}}
{{else}}
💫 - 似乎空空如也~
{{- end}}
